<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	  internalLogFile="c:\temp\nlog-internal.log"
	  internalLogLevel="Trace">

	<extensions>
		<add assembly="NLog.Web.AspNetCore"/>
	</extensions>
	
	<targets>
		<target name="logfile" xsi:type="File" fileName="D:\\KURS C#\\Backend\\logs\\logs-${shortdate}.log" 
				layout ="${newline}${longdate}|${uppercase:${level}}|${logger}|${message}|${exception:format=tostring}" />
	</targets>
	
	<rules>
		<logger name ="Microsoft.*" maxlevel="None" final ="true" />
		<logger name ="System.*" maxlevel="None" final ="true" />
		<logger name ="HealthChecks.*" maxlevel="None" final ="true" />

		<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fatal" writeTo="logfile" />
		<!--<logger name="*" levels="Info,Error,Debug,Warn,Trace,Fatal" writeTo="console" />-->
		<!-- <logger name="*" levels="Error" writeTo="email" /> -->
	</rules>
</nlog>